@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 95rem;
  margin: 0 auto;
  padding: 1rem;
}
body {
  font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.btn {
  display: inline-block;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}
.btn.bg--light {
  @apply static bg-light text-dark border border-solid border-dark py-[1px];
}
.btn.bg--dark {
  @apply bg-dark text-light border border-solid border-light py-[1px];
}
.btn.bg--light:hover {
  @apply bg-gray-200 border border-solid border-dark;
}
.btn.bg--dark:hover {
  @apply bg-gray-700 text-light border border-solid border-dark;
}

@layer components {
  .header {
    @apply bg-white relative  w-full;
  }
  .header .header__wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex flex-row items-center gap-10;
  }

  .header .branding .imgcont {
    @apply flex flex-row items-center w-[75px] h-[75px] lg:w-[75px] lg:h-[75px] overflow-hidden;
  }

  .header .header__nav {
    @apply flex flex-col absolute bg-light top-[100%] left-[100rem] overflow-x-hidden  w-full  h-0 ease-in duration-200  lg:static lg:overflow-visible lg:flex-row;
  }

  .header .header__nav.open {
    @apply h-[100vh] w-full left-[25%] transition-all ease-in-out p-5  text-[1.2rem]  max-w-[45rem] duration-200 lg:h-fit;
  }
  .header .header__nav ul {
    @apply flex flex-col gap-10  lg:flex-row lg:items-center  lg:font-bold;
  }
  .header .header__nav ul li {
    @apply lg:text-dark;
  }
  .header .header__nav ul li:hover {
    @apply lg:text-accent;
  }
  .header .header__actions {
    @apply hidden lg:flex;
  }
  .header .header__actions ul li#findstore {
    @apply mr-10 font-semibold;
  }
  .header .header__actions ul li#findstore a:hover {
    @apply text-accent;
  }
  .header .header__actions ul li#findstore i {
    @apply mr-2;
  }
  .header .header__actions ul {
    @apply lg:flex-row lg:gap-2 lg:flex;
  }
  .header .header__nav .btn-group {
    @apply pt-[3rem] border-b-gray-400 border-opacity-30 border-t-2 gap-0 lg:hidden;
  }
  .header .header__nav ul li#findstore {
    @apply px-3 hover:text-accent lg:hidden;
  }
  .header .header__nav ul li#findstore i {
    @apply mr-2;
  }

  .toggle__menu {
    @apply flex flex-col gap-[.3rem] cursor-pointer font-light hover:bg-slate-200 p-[.6rem] rounded-full transition-all ease-out duration-300 bg-opacity-30  lg:hidden;
  }
  .toggle__menu span {
    @apply w-[1.5rem] h-[.2rem] bg-dark block rounded-full transition-all duration-150;
  }

  .toggle__menu.open span:first-child {
    @apply bg-dark w-[1.5rem] h-[0.2rem] block rounded-full translate-y-[6px] rotate-45 transition-all ease-out duration-300;
  }

  .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 bg-dark transition-all ease-out duration-300;
  }

  .toggle__menu.open span:last-child {
    @apply w-[1.5rem] bg-dark -translate-y-[10px] -rotate-45 transition-all duration-300 ease-out;
  }
}

.buhok {
  @apply h-[100vh] w-[100vh] left-0 top-[100%] opacity-0 bg-dark block absolute ease-in-out duration-200 lg:hidden;
}

.buhok.open {
  @apply opacity-[.3] ease-in-out duration-200;
}

/* Kalbooooooooooooooooooooooooooo */
.kalbo {
  @apply bg-light;
}
.kalbo__wrapper {
  @apply bg-ligreen pt-[2rem];
}
.kalbo__wrapper .kalbo__title {
  @apply max-w-[80rem] mx-auto px-[1rem] py-[2rem] text-center text-[1.5rem] font-bold;
}

.kalbo__nav {
  @apply max-w-[80rem] flex flex-wrap gap-[5rem] mx-auto justify-center bg-ligreen;
}
.kalbo__nav li {
  @apply  text-dark;
}
.kalbo__nav li span{
  @apply text-[1.2rem] font-bold ;
}
.kalbo__nav li.active {
  @apply border-b-4 border-solid border-accent pb-[1rem] px-[1rem] justify-center;
}
.kalbo__nav li a {
  @apply text-[.8rem]
}
.kalbo__desc__wrapper {
  @apply bg-megreen p-[2rem];
}
.kalbo__item__content {
  @apply hidden;
}
.kalbo__item__content img {
  @apply w-[25rem] h-auto  px-[1rem];
}
.kalbo__item__content.active {
  @apply flex gap-[2rem] items-center justify-center transition-all;
}
.kalbo__text h2 {
  @apply text-[1.5rem] font-bold mb-[1rem] max-w-[20rem]
}
.kalbo__text p {
  @apply flex flex-col max-w-[25rem]
}
/* .kalbo__text table tr {
  @apply h-[5rem] flex flex-col;
}
.kalbo__text table tr td:first-child {
  @apply font-semibold;
} */

.banner__green {
  @apply bg-daccent sticky;
}
.banner__green__wrapper {
  @apply max-w-[81rem] mx-auto font-bold text-light sticky;
}
